@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

textarea{
    resize: none;
}

body, html{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

input{
    font-family: 'Open Sans', sans-serif;
}

textarea{
    font-family: 'Open Sans', sans-serif;
}

h2{
    padding: 1em 1em 0 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 2.2em;
    margin: 0;
}

/*NAV ELEMENTS START*/
aside{
    display: grid;
    grid-template-columns: auto 40px;
    padding: 1em;
}

figure{
    margin: 0;
    display: flex;
    align-items: center;
}

figcaption{
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1.2em;
}

nav{
    background: #fff;
    padding: 0;
    margin: 0;
}

.active{
    position: absolute fixed !important;
    z-index: 1000;
    display: block;
    background: #f1f1f1;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
}
/*.swipe-area{
    position: absolute fixed !important;
    z-index: 999;
    background: transparent;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
}*/
.menu-item{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: .8em;
    padding: 1em 1.5em;
    color: #000;
}

#side-menu{
    cursor: pointer;
}

#menu-logo{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
/*STILL BUGGY --> OVERLAPS WITH TEXT ON DESKTOP IF ZOOMED IN*/
#menu-copy-right{
    position: absolute;
    font-size: .7em;
    bottom: 1em;
    padding: 1em;
}

nav ul{
    position: fixed;
    height: 100%;
    overflow: auto;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: .5em 0 0 0;
}
/*NAV ELEMENTS END*/
/*MAIN WELCOME START*/
#main-image{
    position: relative;
    height: 600px;
    width: 100%;
    background: gray url("../images/imgMain.jpg") no-repeat 20%;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.image-overlay{
    position: absolute;
    display: table;
    bottom: 0;
    height: 35%;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.55);
}

.image-overlay h2{
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

#main-header{
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 2.5em;
    margin: .75em 1em 0 1em;
}
#main-sub-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin : 0.5em;
}
/*MAIN WELCOME END*/
/*MAIN SERVICES START*/
.delimiter{
    width: calc(100% - 16px);
    background-color: #000;
    height: 1px;
    margin: .5em 8px;
}
#services-header-container{
    position: relative;
    width: 100%;
    height: 150px;
    padding: 0;
}
#services-sub-header{
    margin: 2em .5em;
    font-size: 8pt;
}
#services-content{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 350px 350px 350px;
}
.service{
    overflow: hidden;
    width: auto;
    height: 100%;
    background: gray;
    position: relative;
    margin: 0;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .5);
}
.service:hover .service-overlay{
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    height: 100%;
    line-height: normal;
}
.service:hover .background{
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    filter: blur(5px);
}
.service:hover .service-name{
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    padding: 0;
    margin: 2em 2em 0 2em;
    font-size: 24pt;
}
.service:hover #service-name-more{
    padding: 0;
    margin: .65em .4em .4em .4em;
}
.service:hover .service-button{
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    bottom: 2em;
    left: 50%;
    margin-left: -50px;
    display: block;
    background: transparent;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #000;
    width: 100px;
    height: 40px;
    padding:0;
}
.service:hover .delimiter{
    margin: .25em 8px;
}
.service-button:hover{
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .5);
}
.service-name{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18pt;
    margin: 0;
}
.service-button{
    display: none;
}
.service-button-text{
    font-weight: normal;
    font-size: 10pt;
    padding: auto;
    margin: .8em auto;
    text-align: center;
}
.service-overlay{
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    display: block !important;
    height: 50%;
    line-height: 175px;
}
.special-li{
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}
.special-header{
    text-align: left;
    margin: .25em .5em;
}
.prices{
    font-weight: bolder;
    text-align: right;
    margin: .25em .5em;
}
#special-ul{
    margin: .5em 0;
}
.background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: gray;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .5);
}
.background-tile{
    height: 100%;
    width: 100%;
    background:gray;
}
#service-spray-painting{
    background: url("../images/imgSprayPainting.jpg") no-repeat center;
    background-size: cover;
}
#service-repair{
    background: url("../images/imgPanelBeating.jpg") no-repeat center;
    background-size: cover;
}
#service-more{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.special-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#bgtile1{
    background: url("../images/bgtile1.jpg") no-repeat center;
    background-size: cover;
}
#bgtile2{
    background: url("../images/bgtile2.jpg") no-repeat center;
    background-size: cover;
}
#bgtile3{
    background: url("../images/bgtile3.jpg") no-repeat center;
    background-size: cover;
}
#bgtile4{
    background: url("../images/bgtile4.jpg") no-repeat center;
    background-size: cover;
}
#background-tile-shadow{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .5);
}
/*SERVICES END*/
/*OPENING START*/
#opening-container{
    padding: 0;
    margin: 0;
    height: 230px;
    width: 100%;
}
#opening-sub-header{
    font-size: 14pt;
    margin: 1em 1em 1.3em 1em;
}
.opening-hours{
    margin: .4em 2em;
}
/*OPENING END*/
/*CONTACT START*/
.card{
    border-radius: 10px;
    overflow: hidden;
    margin: .75em;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#slideshow-container{
    width:100%;
    position: relative;
    margin: auto;
}

#dot-container{
    margin: -.25em 0 .5em 0;
    text-align: center;
}

.slide{
    display: none;
}

.slide-image{
    width: 100%;
    height: 300px;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.current, .dot:hover {
    background-color: #717171;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#contact-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
#contact_us{
    margin: 0 auto .75em auto;
}
.contact-details{
    margin: .4em 1em;
    font-size: 10pt;
}
#contact-header{
    position: relative;
    overflow: hidden;
}
#contact-header-container{
    width: 100%;
}
#last-contact-detail{
    margin-bottom: 2em;
}
#form-container{
    margin:0;
    margin-top: 1em;
    padding: 0;
}
.sub-header{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 1.4em 1em 0 1em;
}
.input-container {
    position: relative;
    display: block;
    width: calc(100% - .5em);
    margin: .5em !important;
}

.input-bar{
    background-color: #000;
    position: absolute;
    bottom: 2px !important;
    width: calc(100% - .5em);
    height: 1px !important;
    padding:0;
    margin:0;
}

.input-container input {
    font-size: 12pt;
    color: #000;
    width: calc(100% - 1em);
    line-height: normal;
    vertical-align: middle;
    border-style: none;
    background: transparent;
    outline: none;
    margin: .5em;
    padding:0;
}
#message-input{
    height: 150px;
    width: calc(100% - 1em);
    border-style: none;
    background-color: transparent;
    color: #000;
    font-size: 10pt;
    margin: .5em;
    outline: none;
    padding:0;
}
#contact-layout{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
#user-image-container{
    width: calc(100% - .5em);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
}
.image-preview{
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    position: relative;
    margin: .5em;
    display: inline-block;
    width: calc(100% - 1em);
    height: 80px;
    border-style: dashed;
    border-width: 1px;
    border-color: #000;
    border-radius: 10px;
    background-color: #fff;
    background-image:url('');
    background-size:cover;
    background-position: center;
}

.contact-shadow{
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.has-content{
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    background: transparent url('/images/error.svg') no-repeat center;
    background-size: 30%;
}

/*TODO: SCALE box-shadow FOR MOBILE VERSION*/   
.image-preview:hover .contact-shadow{
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 1);
}

.image-preview:hover .has-content{
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    height: 100%;
    border-radius: 10px;
}
.delete-button{
    display: block;
    width: 30%;
    padding-top: 30%;
    cursor: pointer;
    background: transparent;
    margin: auto auto;
    border-radius: 50%;
}
#user-image-header{
    margin: 1em 1em .5em 1em;
}
#file-upload {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: .5em;
    width: calc(100% - 1em);
}
#upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.form-button{
    cursor: pointer;
    display:block;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
#contact-submit{
    margin: 0 8px 1em 8px;
    width: calc(100% - 16px);
    background-color: #000;
    color: #fff;
}

#about-header{
    margin: 0;
    padding: 0; 
    vertical-align: middle;
}

#submit-thanks{
    margin: .2em auto 2em auto;
}
/*CONTACT END*/
/*ABOUT START*/
#about-header-container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    background: gray url("../images/imgAbout.jpg") no-repeat center;
    background-size: cover;
    filter: grayscale(20%);
}
#about-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.text-block{
    margin: 1em;
    text-align: left;
}

/*ABOUT END*/
/*MAP START*/
#map{
    width: 100%;
    height: 600px;
}
/*MAP END*/
#bottom-container{
    height: 100px;
    width: calc(100% - 4em);
    margin: 2em;
}
/*------------TABLET VIEW--------------------------*/
@media only screen and (min-width: 500px){
    #main-header{
        padding: 0;
        font-size: 2.75em;
        margin: 1em 0 0 0;
    }
    #main-sub-header{
        font-size: 12pt;
    }
    #about-header-container{
        height: 400px;
    }
    #services-content{
        grid-template-rows: 550px 550px 550px;
    }
    .service-overlay{
        line-height: 275px;
    }
    .service-name{
        font-size: 22pt;
    }
    .service:hover .service-name{
        font-size: 29pt;
    }
    .special-header{
        font-size: 16pt;
    }
    .prices{
        font-size: 16pt;
    }
    .special-li{
        margin: .5em 1em;
        font-size: 14pt;
    }
    .service:hover .service-button{
        bottom: 2.5em;
        margin-left: -125px;
        border-radius: 55px;
        width: 250px;
        height: 90px;
    }
    .service-button-text{
        font-size: 15pt;
        line-height: 90px;
        margin: 0 auto;
    }
    .image-preview{
        height: 150px;
    }
    .card{
        border-radius: 15px;
        margin: 1em;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    }
    #contact-container{
        margin: 0 .75em;
    }
    .slide-image{
        height: 400px;
    }
}
/*------------DESKTOP VIEW FROM NOW ON-------------*/
@media only screen and (min-width: 768px){
    /*NAV ELEMENTS START*/
    #side-menu{
        display: none;
    }
    #menu-logo{
        display: none;
    }
    #menu-copy-right{
        display: none;
    }
    #logo{
        display: inline-block;
        background: #f1f1f1 url("../images/imgLogoCropped.png") no-repeat center;
        background-size: 87.5%;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin: 1em;
    }
    figcaption{
        margin-top: 0;
        display: inline-block;
        font-weight: normal;
        font-size: 1.5em;
    }
    aside{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0;
    }
    nav ul li{
        display: inline;
    }
    .menu-item{
        display: inline;
        font-size: 1em;
        padding: 0 1em;
    }
    nav ul{
        display: block;
        list-style-type: none;
        position: relative !important;
        background: #f1f1f1 !important;
        height: 100%;
        padding: 1em;
    }
    .active{
        width: 100%;
        height: 16px;
        padding: 1em 1em 1em 1em;
    }
    nav{
        margin:0;
        padding:0;
    }
    /*NAV ELEMENTS END*/
    /*MAIN SERVICES START*/
    #main-header{
        margin: 1em 3em 0 3em;
    }
    #contact-header-background{
        height: 320px;
        filter: blur(10px)
    }
    #services-content{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 300px;
    }
    .service{
        margin: 0;
    }
    .service:hover .service-button{
        bottom: 1.25em;
        margin-left: -75px;
        border-radius: 30px;
        border-width: 2px;
        width: 150px;
        height: 60px;
    }
    .service-button-text{
        font-weight: bold;
        font-size: 12pt;
        line-height: 60px;
        padding: auto;
        margin: 0;
        text-align: center;
    }
    .service:hover #service-name-more{
        padding: 0;
        margin: .3em .75em;
    }
    #opening-container{
        height: 250px;
    }
    #opening-sub-header{
        font-size: 16pt;
        margin: 1.2em 1em 1.5em 1em;
    }
    #input-parent-container{
        display: grid;
        grid-template-columns: 47.5% 5% 47.5%;
        grid-template-rows: auto;
    }
    .image-preview{
        height: 100px;
    }
    .card{
        border-radius: 20px;
        margin: 1.25em;
    }
    #contact-container{
        margin: 0 1em;
    }
    .service-overlay{
        line-height: 150px;
    }
    .service-name{
        font-size: 18pt;
    }
    .service:hover .service-name{
        margin: 2em 1em 0 1em;
        font-size: 24pt;
    }
    .special-header{
        font-size: 12pt;
    }
    .prices{
        font-size: 12pt;
    }
    .special-li{
        margin: 0;
        font-size: 12pt;
    }

    .slide-image{
        height: 425px;
    }

    #contact-layout{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .image-preview:hover .contact-shadow{
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
        box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 1);
    }
    #contact-submit{
        margin: 1em auto 1em auto;
        width: 500px;
    }
    #file-upload {
        margin: 2em auto;
        width: 250px;
    }
    .contact-details{
        margin: .5em 1em;
        font-size: 12pt;
    }
    #about-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
}
@media only screen and (min-width: 845px){
    /*MAIN WELCOME START*/
    #main-header{
        padding: 0;
        font-size: 3.5em;
        margin: .5em 2em 0 2em;
    }
    #main-sub-header{
        font-size: 16pt;
        margin : 0;
    }
    h2{
        font-size: 3.2em;
        padding: .75em 1em 0 1em;
    }
    #services-header-container{
        height: 200px;
    }
    #services-sub-header{
        margin: 1.5em .5em;
        font-size: 14pt;
    }
    #services-content{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 350px;
    }
    .service:hover #service-name-more{
        padding: 0;
        margin: .75em;
    }
    .service:hover .service-button{
        bottom: 2em;
    }
    .special-li{
        margin: .25em auto;
    }
    .service-overlay{
        line-height: 175px;
    }
    .sub-header{
        font-weight: normal;
        font-size: 14pt;
    }
    .slide-image{
        height: 450px;
    }
}

@media only screen and (min-width: 1000px){
    #main-header{
        margin: .5em 3em 0 3em;
    }
}
/*------------HD MONITORS--------------------------*/
@media only screen and (min-width: 1220px){
    #main-header{
        font-size: 4em;
        margin: .75em .5em 0 .5em;
    }
    #main-sub-header{
        margin : 1em 0;
    }
    #services-content{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 450px;
    }
    .service-overlay{
        line-height: 225px;
    }
    .service:hover #service-name-more{
        padding: 0;
        margin: 1em;
    }
    .service:hover .delimiter{
    margin: .5em 8px;
    }
    .special-li{
        margin: .5em auto;
        font-size: 14pt;    
    }
    .special-header{
        font-size: 16pt;
    }
    .prices{
        font-size: 16pt;
    }
    #special-ul{
        margin: 0 0 .5em 0;
    }
    #about-header-container{
        height: 500px;
    }
    .image-preview{
        height: 175px;
    }
    #file-upload {
        margin: .5em auto;
        width: 350px;
    }
    #message-input{
        height: 165px;
        font-size: 12pt;
    }
    #contact-layout{
        font-size: 14pt;
    }
    .slide-image{
        height: 550px;
    }
    .delimiter{
        margin: 1.5em 8px;
    }
}
/*------------FULL HD MONITORS---------------------*/
@media only screen and (min-width: 1900px){
    figcaption{
        font-size: 2em;
    }
    #logo{
        width: 100px;
        height: 100px;
        margin: 1em;
    }
    .menu-item{
        font-size: 1.5em;
        padding: 0 1em;
    }
    nav ul{
        padding: 1.5em;
    }
    #main-image{
        height: 800px;
    }
    #main-header{
        font-size: 6em;
        margin: .6em 0 0 0;
    }
    #main-sub-header{
        font-size: 19pt;
    }
    h2{
        font-size: 4.1em;
    }
    p{
        font-size: 16pt;
    }
    #services-sub-header{
        font-size: 19pt;
    }
    #services-header-container{
        height: 250px;
    }
    #services-content{
        grid-template-rows: 600px;
    }
    .service-overlay{
        line-height: 300px;
    }
    .service-name{
        font-size: 26pt;
    }
    .service:hover .service-name{
        font-size: 35pt;
    }
    .special-header{
        font-size: 23pt;
    }
    .prices{
        font-size: 23pt;
    }
    .special-li{
        margin: .5em 1em;
        font-size: 19pt;
    }
    .service:hover .service-button{
        bottom: 2.5em;
        margin-left: -150px;
        border-radius: 55px;
        width: 300px;
        height: 110px;
    }
    .service-button-text{
        font-size: 20pt;
        line-height: 110px;
        margin: 0 auto;
    }
    .service-button:hover{
        box-shadow: inset 0 0 35px 0 rgba(0, 0, 0, .5);
    }
    .card{
        border-radius: 30px;
        margin: 2em;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    }
    #opening-container{
        height: 375px;
    }
    #opening-sub-header{
        font-size: 22pt;
        margin: 1.2em 1em 1.5em 1em;
    }
    .opening-hours{
        margin: .75em auto;
    }
    #about-header-container{
        height: 750px;
    }
    .slide-image{
        height: 775px;
    }
    .dot {
        height: 23px;
        width: 23px;
        margin: 0 3px;
    }
    #dot-container{
        margin: .25em 0 0 0;
    }
    .contact-details{
        margin: .75em 1em;
        font-size: 19pt;
    }
    #prev, #next {
        margin-top: -33px;
        padding: 24px;
        font-size: 27px;
        border-radius: 0 5px 5px 0;
    }
    #next {
        border-radius: 5px 0 0 5px;
    }
    .sub-header{
        font-size: 20pt;
    }
    .input-container input{
        font-size: 17pt;
    }
    #contact-container{
        margin: 0 2em;
    }
    #message-input{
        height: 230px;
        font-size: 17pt;
    }
    .image-preview{
        height: 225px;
        border-radius: 20px;
        border-width: 2px;
        margin: .75em;
        width: calc(100% - 1.5em);
    }
    .form-button{
        border-radius: 15px;
    }
    #file-upload{
        width: 500px;
    }
    #file-upload span{
        font-size: 16pt;
    }
    #contact-submit{
        font-size: 16pt;
        width: 800px;
    }
    #map{
        height: 800px;
    }
    #bottom-container{
        height: 150px;
    }
}
/*------------2K MONITORS--------------------------*/
@media only screen and (min-width: 2550px){
    figcaption{
        font-size: 2.5em;
    }
    #logo{
        width: 150px;
        height: 150px;
        margin: 1.5em;
    }
    .menu-item{
        font-size: 2em;
        padding: 0 1em;
    }
    nav ul{
        padding: 2em;
    }
    #main-image{
        height: 1000px;
    }
    #main-header{
        font-size: 7em;
        margin: .75em 0 0 0;
    }
    #main-sub-header{
        font-size: 24pt;
    }
    h2{
        font-size: 5em;
    }
    p{
        font-size: 22pt;
    }
    #services-sub-header{
        font-size: 24pt;
    }
    #services-header-container{
        height: 325px;
    }
    #services-content{
        grid-template-rows: 800px;
    }
    .service-overlay{
        line-height: 400px;
    }
    .service-name{
        font-size: 34pt;
    }
    .service:hover .service-name{
        font-size: 46pt;
    }
    .special-header{
        font-size: 30pt;
    }
    .prices{
        font-size: 30pt;
    }
    .special-li{
        font-size: 24pt;
    }
    .service:hover .service-button{
        bottom: 3em;
        margin-left: -200px;
        border-radius: 80px;
        width: 400px;
        height: 160px;
    }
    .service-button-text{
        font-size: 28pt;
        line-height: 160px;
    }
    .service-button:hover{
        box-shadow: inset 0 0 55px 0 rgba(0, 0, 0, .5);
    }
    .card{
        border-radius: 40px;
        margin: 2.5em;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    }
    #opening-container{
        height: 450px;
    }
    #opening-sub-header{
        font-size: 28pt;
    }
    #about-header-container{
        height: 1000px;
    }
    .slide-image{
        height: 1100px;
    }
    .dot {
        height: 30px;
        width: 30px;
        margin: 0 4px;
    }
    #dot-container{
        margin: .25em 0 .1em 0;
    }
    .contact-details{
        margin: .75em 1em;
        font-size: 24pt;
    }
    #prev, #next {
        margin-top: -44px;
        padding: 32px;
        font-size: 36px;
        border-radius: 0 6px 6px 0;
    }
    #next {
        border-radius: 6px 0 0 6px;
    }
    .sub-header{
        font-size: 26pt;
    }
    .input-container input{
        font-size: 24pt;
    }
    #contact-container{
        margin: 0 2.5em;
    }
    #message-input{
        height: 300px;
        font-size: 24pt;
    }
    .image-preview{
        height: 300px;
        border-radius: 30px;
        margin: 1em;
        width: calc(100% - 2em);
    }
    .form-button{
        border-radius: 20px;
    }
    #file-upload{
        width: 700px;
    }
    #file-upload span{
        font-size: 22pt;
    }
    .delimiter{
        height: 2px;
    }
    .input-bar{
        height: 2px !important;
    }
    #contact-submit{
        font-size: 22pt;
        width: 1250px;
    }
    #map{
        height: 1250px;
        max-width: 100% !important;
    }
    #bottom-container{
        height: 200px;
    }
}
/*------------4K MONITORS--------------------------*/
@media only screen and (min-width: 3800px){

}
